Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git

# Exclude environment files
.env
.env.*

# Exclude log files
*.log

# Exclude macOS system files
.DS_Store

# Exclude test coverage reports
coverage
*.coverage

# Exclude IDE/editor config directories
.vscode
.idea
